body {
  font-family: Arial, sans-serif;
  width: 250px;
  background: linear-gradient(
    106.37deg,
    #0ea47a 29.63%,
    /* #12d39d 51.55%, */
    #0ea47a 90.85%
  );
  color: #ffffff; /* Setting a contrasting text color for readability */
  padding: 10px; /* Some padding to give it a bit of space */
  box-sizing: border-box;
}

#header {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

#logo {
  width: 32px;
  height: 32px;
  margin-right: 8px;
}

#description {
  margin-top: 8px;
  margin-bottom: 10px;
}

button {
  background-color: #ffffff;
  color: #0ea47a; /* Using the background color for button text to keep the theme */
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #f2f2f2;
}
